@media only screen and (max-width: 750px) {
    body {
        height: 100%;
        background-position: top;
        background-size: auto 100% ;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 1.7rem;
        margin-bottom: 3rem;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 15rem;
    }

    .dropbtn {
        font-size: 1.5rem;
    }


    #exibicao-palavra {
        font-size: 3.7rem;
        margin: 2rem;
    }

    #teclado {
        max-width: 500px;
    }

    .message {
        font-size: 1.8rem;
        text-align: center;
    }

    #game-buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }

    footer {
        padding-bottom: 8rem;
    }

}