@media only screen and (max-width: 700px) {
    body {
        background-repeat: no-repeat;
        gap: 0;
    }


    h2 {
        font-size: 1.7rem;
        margin-bottom: 3rem;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.8rem;
        .dropbtn {
            font-size: 1.5rem;
            max-width: 140px;
        }
        
    }
    #exibicao-palavra {
        font-size: 3.7rem;
        margin: 2rem;
    }
    #teclado {
        width: 100%;
        max-width: 540px;
        height: auto;
        .tecla{
            width: var(--teclaM);
            height: var(--teclaM);
            margin: 4px;

            font-size: 18px;
        }
    }
    .message, .victories_and_losses {
        font-size: 1.8rem;
        text-align: center;
    }



    #game-buttons {
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }

    footer {
        padding-bottom: 8rem;
    }

}
@media only screen and (max-width: 440px) {
    body {
        background-position: center;
        background-repeat: no-repeat;

        gap: 0;
    }

    header{
        gap: 0;

        .titulo-container{
            & h1{
                font-size: 4.2rem;
                
            }
            & h2{
                font-size: 1.8rem;
            }
        }
    }


    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.2rem;
        .dropbtn {
            font-size: 1.4rem;
            max-width: 140px;
        }
    }

    #teclado {
        max-width: 100%;
        
        .tecla{
            width: var(--teclaS);
            height: var(--teclaS);
            margin: 4px;

            font-size: 18px;
            outline: solid 2px var(--glassy-outline);

            border-radius: 4px;
        }
    }

    .game-buttons{
        & button{
            font-size: 1.5rem;
            max-width: 140px;
        }
    }




}